
#Layer_1 {
  width: 300px;
  fill: #f72210;
}

.icons i {
  font-size: 25px;
  color: #666;
}

.row2 i {
  border-right-width: 1px;
  border-right-style: solid;
  padding-left: 10px;
  padding-right: 10px;
}

.row1 span {
  margin-top: auto;
}

.d-flex.icons i {
  padding: 5px;
}

.footer {
  padding: 30px;
}

.row1 {
  margin-bottom: 12px;
}

.row2 {
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 5px;
}

.row2 > i:nth-child(2) {
  padding-right: 10px;
}
